################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.suo
/SISTEMA_CENSO_INSTRUCTORES/bin
/SISTEMA_CENSO_INSTRUCTORES/obj/Debug
/.vs/config
